@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


/* -----------------------------------------nav bar----------------------------------------- */
header {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px;
    width: 100%;
    z-index: 1;
}

header>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    margin: auto;
    width: 40px;
    transition-duration: 500ms;
}

header>img:hover {
    width: 50px;
    transform: rotate(360deg);
    transition-duration: 500ms;
}

header>ul {
    position: absolute;
    right: 30px;
    bottom: -10px;
    list-style: none;

}

header>ul>li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

header>ul>li>a {
    font-family: 'Bubbler One', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 24px;
}

header>ul>li>a:hover {
    cursor: pointer;
    color: #00E676;
    font-size: 30px;
}

body>main>section {
    position: relative;
    height: 100vh;
}

/* -----------------------------------------welcome page----------------------------------------- */
#coverVid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#waveHand {
    position: absolute;
    top: 225px;
    left: 70px;
    z-index: 1;
    width: 100px;
    height: auto;
    animation-name: wave;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes wave {
    fom {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(20deg);
    }

}

#textContent>p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    z-index: 2;
    position: relative;
    display: block;
    width: fit-content;
    margin: 0;
}

#textContent {
    top: 280px;
    left: 175px;
    z-index: 1;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

#textContent p:nth-child(1) {
    font-size: 48px;
    padding-bottom: 15px;
}

#textContent p:nth-child(2) {
    font-size: 90px;
}

#textContent p:nth-child(3) {
    font-size: 70px;
}

#textContent p:nth-child(4) {
    font-size: 24px;
    left: 186px;
    padding-top: 10px;
}

#socialLogo {
    position: absolute;
    display: flex;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    right: 180px;
    bottom: 0px;
}

#socialLogo>a {
    justify-content: space-between;
    font-size: 70px;
    color: white;
    margin: 15px;
}

#profileImg {
    border-radius: 100%;
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 75px;
    bottom: 15%;


}

#profileImg::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    border-top: 5px solid turquoise;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0%, 20% {
        transform: rotate(72deg);
    }

    20%, 40% {
        transform: rotate(144deg);
    }

    40%, 60% {
        transform: rotate(216deg);
    }

    60%, 80% {
        transform: rotate(288deg);
    }

    80%, 100% {
        transform: rotate(360deg);
    }
}

#profileImg>img {
    border-radius: 100%;
    width: 400px;
    height: auto;
}

.headTitle {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
    font-family: 'Bubbler One', sans-serif;
    font-size: 56px;
    color: white;
}

/* -----------------------------------------about me page----------------------------------------- */
#aboutMe {
    background-image: url('../../assets/images/background.jpg');
    object-fit: cover;
}

#aboutMe>div {
    position: absolute;
    width: fit-content;
    height: fit-content;
}

#aboutMe>div:nth-child(2) {
    bottom: 5px;
    left: 35px;
}

#aboutMe>div:nth-child(3) {
    bottom: 225px;
    right: 30px;
}

#aboutMe>div:nth-child(3) p {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

#btnDownloadCv {
    position: absolute;
    bottom: 130px;
    right: 500px;
    align-items: center;
    background-color: transparent;
    border: 5px solid white;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    width: 175px;
    text-decoration: none;
    transition: all .1s;
}

#btnDownloadCv:hover {
    transition: all .1s;
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

/* -----------------------------------------time line page----------------------------------------- */
#timeLine {
    background-image: url('../../assets/images/background.jpg');
    object-fit: cover;
}

/* -----------------------------------------skills page----------------------------------------- */
#skills {
    background-image: url('../../assets/images/background.jpg');
    object-fit: cover;
}

#languageChart {
    width: 400px;
    position: absolute;
    right: 50px;
    top: 70px;
    margin: 0;
}

#editorsChart {
    width: 400px;
    position: absolute;
    right: 50px;
    top: 400px;
    margin: 0;
}

#languagesContainer {
    position: relative;
    left: 75px;
    top: 200px;

    width: 600px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px 20px;
}

#languagesContainer img {
    width: 100px;
}

/* -----------------------------------------projects page----------------------------------------- */
#projects {
    background-image: url('../../assets/images/background.jpg');
    object-fit: cover;
}

.projectWindow {
    position: relative;
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 10px;
    border: solid 10px white;
    box-shadow: 10px 10px 0 white, -10px -10px 0 white;

}

.projectWindow p {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 30px;
    height: 40px;
}

.projectWindow div {
    position: absolute;
    top: 40px;
    left: 0;
    background: black;
    color: white;
    visibility: hidden;
    width: 100%;
    height: 260px;
    opacity: 0.7;
}
.projectWindow div p{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
.projectWindow:hover {
    cursor: pointer;
}

.projectWindow:hover div {
    visibility: visible;
}

.openGithub {
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 36px;
    font-weight: lighter;
    left: 150px;
    bottom: 25px;
}
.openWeb{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 36px;
    font-weight: lighter;
    right: 150px;
    bottom: 25px;
}

#projectContainer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#btnMoreProjects {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    margin: auto;
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    text-align: center;
    transition: transform 150ms, box-shadow 150ms;
}

#btnMoreProjects:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

/* -----------------------------------------contact me page----------------------------------------- */
#contact {
    height: 50vh;
    background-image: url('../../assets/images/footerCover.jpg');
    background-position: bottom;
    bottom: 0;
    
}

#socialMedia {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 300px;
    right: 360px;
    bottom: 50px;
}

#socialMedia a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

#address {
    position: absolute;
    width: 300px;
    right: 360px;
    top: 90px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

#address a {
    text-decoration: none;
}

#address p {
    margin: 0;
    width: fit-content;
}

#address i {
    padding-right: 10px;
    padding-bottom: 15px;
    font-size: 36px;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    height: 200px;
    padding: 20px;
    width: 400px;
}

#btnSubmit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnSubmit:hover {
    background-color: #45a049;
}

/* -----------------------------------------footer----------------------------------------- */
footer {
    position: relative;
    background-color: black;
    height: 60px;
}

footer>img {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    top: 5px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    border: white 1px solid;
}

footer>p {
    position: absolute;
    font-family: 'Bubbler One', sans-serif;
    color: white;
    text-align: center;
    bottom: 5px;
    margin: 0;
    left: 0;
    right: 0;
}